<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<h3>User Details</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Password</th>
    </tr>

    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
    </tr>

</table>
<h3>Cheeses</h3>
<p th:unless="${user.userCheeses} and ${user.userCheeses.size()}">no cheeses :(</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>

    <tr th:each="cheese : ${user.userCheeses}">
        <td><a th:href="'/cheese/edit/'+${cheese.id}" th:text="${cheese.name}"></a></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.category.name}"></td>
    </tr>

</table>



<h3>Menus</h3>
<p th:unless="${user.userMenus} and ${user.userMenus.size()}">no menus :(</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>

    <tr th:each="menu : ${user.userMenus}">
        <td><a th:href="'/menu/view/'+${menu.id}" th:text="${menu.name}"></a></td>
        <td th:text="${menu.description}"></td>
    </tr>

</table>
<!--
-->
<!--
<p><a th:href="'/menu/edit/' + ${menu.id}">Edit Menu Details</a> | <a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a> | <a th:href="'/menu/remove-item/' + ${menu.id}">Remove Cheese</a></p>
-->
</body>
</html>