<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">

        <nav th:replace="fragments :: navigation"></nav>

        <h2 th:text="${title}">Default Title</h2>



        <form method="post" >
            <div th:each="menu : ${menus}" class="checkbox">
                <input type="checkbox" name="menuIds" th:value="${menu.id}" th:id="${menu.id}"/>
                <label th:for="${menu.id}" th:text="${menu.name}"></label>
                <br />
            </div>
            <input type="submit" class="btn btn-danger" value="Remove Menu" />
        </form>

    </body>
</html>